.DS_Store

# Pyhton virtualenv
.Python
bin
include
lib
pip-selfcheck.json

# Elastic Beanstalk CLI Files
.elasticbeanstalk/*

# Output from Dynamo Table
*.csv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/*



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
