Resources:
  NewIdeaQueue:
    Type: AWS::SQS::Queue
  NewIdeaTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
      - Endpoint:
          Fn::GetOptionSetting: {DefaultValue: nobody@example.com, OptionName: NewIdeaEmail}
        Protocol: email
      - Endpoint:
          Fn::GetAtt: [NewIdeaQueue, Arn]
        Protocol: sqs
  AllowSNS2SQSPolicy:
    Type: AWS::SQS::QueuePolicy
    Properties:
      PolicyDocument:
        Id: PublicationPolicy
        Statement:
        - Action: ['sqs:SendMessage']
          Condition:
            ArnEquals:
              aws:SourceArn: {Ref: NewIdeaTopic}
          Effect: Allow
          Principal: {AWS: '*'}
          Resource:
            Fn::GetAtt: [NewIdeaQueue, Arn]
          Sid: Allow-SNS-SendMessage
        Version: '2008-10-17'
      Queues:
      - {Ref: NewIdeaQueue}
