option_settings:
  aws:elasticbeanstalk:customoption:
    NewIdeaEmail: printw+eblzreg@amazon.com
  aws:elasticbeanstalk:application:environment:
    THEME: "default"
    SESSION: " - Houston - January 1, 2019"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    IDEAS_TABLE: '`{"Ref" : "MCIDIdeasTable"}`'
    IDEAS_TOPIC: '`{"Ref" : "NewIdeaTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
