option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: printw+eblzreg@amazon.com
  aws:elasticbeanstalk:application:environment:
    THEME: "default"
    SESSION: "DryRun02 - Partner Dry Run"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    STARTUP_SIGNUP_TABLE: '`{"Ref" : "StartupSignupsTable"}`'
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: /static
